{
  "presets": [
    ["latest", {"es2015": {"loose": true, "modules": false }}],
    "react",
    "stage-0"
  ],

  //对于 IE 系列浏览器，需要提供 es5-shim 和 es6-shim 等 Polyfills 的支持。
  //如果你使用了 babel，强烈推荐使用 babel-polyfill 和 babel-plugin-transform-runtime。
  "plugins": [
    // "react-hot-loader/babel",
 
    "syntax-dynamic-import",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "bable-runtime"
    }],
    ["import", { "style": "css", "libraryName": "antd-mobile" }]
  ]
}